/* PAGE BACKGROUND */
body {
  background-color: #487047;
  margin: 0;
  padding: 30px;
  font-family: Arial, sans-serif;
}

.container-wrapper {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  max-width: 1100px; /* or whatever width you want for the whole content */
  margin: 0 auto; /* centers the wrapper */
  padding: 20px; /* optional, adds space around the wrapper */

  height: 80vh; /* 👈 limits how tall the section is */
}

.container-one,
.container-two {
  width: 40%;
  padding: 20px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 30px;
  backdrop-filter: blur(3px);
  text-align: center;
  color: white;
}
.container-one,
.container-two {
  width: 40%;
  padding: 20px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 30px;
  backdrop-filter: blur(3px);
  text-align: center;
  color: white;

  max-height: 80vh;      /* limits height to screen */
  overflow-y: auto;      /* scrolls INSIDE container */
}
.container-two {
  max-height: 60vh;
}

/* HEADERS */
h1 {
  font-family: "Goudy Old Style";
  font-size: 45px;
  margin-bottom: 10px;
}

h2 {
  font-family: "Andale Mono", monospace;
  font-size: 30px;
  margin-top: 0;
}

p {
  font-family: "Andale Mono", monospace;
  text-align: center;
  line-height: 1.7;
  margin: 30px 1;
  font-size: 17px;
}

/* MAIN IMAGE */
img {
  width: 200px;
  height: 300px;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.25);
  margin: 10px;
}

.photo-row-2 img{
  width: 100px;
  height: auto;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.25);
  margin: 10px;
}
/* MULTIPLE PICTURES NEXT TO EACH OTHER */
.photo-row, .photo-row-2 {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;  /* wraps to next line on small screens */
  margin-top: 20px;
}
.travel-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
  justify-content: center;
  margin: 30px 0;
}

.place-btn {
  background: white;
  color: #487047;
  padding: 12px 18px;
  border-radius: 12px;
  text-decoration: none;
  font-size: 18px;
  font-family: "Goudy Old Style";
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
  transition: 0.2s;
}

.place-btn:hover {
  transform: scale(1.05);
  background: #f4fff4;
}
