/* PAGE BACKGROUND */
body {
  background-color: #487047;
  margin: 0;
  padding: 30px;
  font-family: Arial, sans-serif;
}

.container-wrapper {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.container-one,
.container-two {
  width: 48%;
  padding: 25px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 40px;
  backdrop-filter: blur(3px);
  text-align: center;
  color: white;
}


/* HEADERS */
h1 {
  font-family: "Goudy Old Style";
  font-size: 45px;
  margin-bottom: 10px;
}

h2 {
  font-family: "Andale Mono", monospace;
  font-size: 30px;
  margin-top: 0;
}

p {
  font-family: "Andale Mono", monospace;
  text-align: center;
  line-height: 1.7;
  margin: 30px 1;
  font-size: 17px;
}

/* MAIN IMAGE */
img {
  width: 200px;
  height: 300px;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.25);
  margin: 10px;
}

.photo-row-2 img{
  width: 100px;
  height: auto;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.25);
  margin: 10px;
}
/* MULTIPLE PICTURES NEXT TO EACH OTHER */
.photo-row, .photo-row-2 {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;  /* wraps to next line on small screens */
  margin-top: 20px;
}
.travel-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
  justify-content: center;
  margin: 30px 0;
}

.place-btn {
  background: white;
  color: #487047;
  padding: 12px 18px;
  border-radius: 12px;
  text-decoration: none;
  font-size: 18px;
  font-family: "Goudy Old Style";
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
  transition: 0.2s;
}

.place-btn:hover {
  transform: scale(1.05);
  background: #f4fff4;
}
